AgentOccam/__pycache__/*
llms/__pycache__/*
AgentOccam-Trajectories/*
config_files/tasks/*
_AgentOccam-Trajectories/*
__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
*/*/*/*/__pycache__/*
*/*/*/*/*/__pycache__/*
*/*/*/*/*/*/__pycache__/*
*/*/*/*/*/*/*/__pycache__/*
docs/*
AgentOccam-Trajectories_claude/*
config_files/new_tasks/*
.auth/*
_back_AgentOccam-Trajectories_gpt4o/*
AgentOccam-Trajectories_*/*
_old_backup/*
AgentOccam-Trajectories_claude/*
AgentOccam-Trajectories_gemini-2.5-pro-exp-03-25/*
AgentOccam-Trajectories_gpt-4o-2024-05-13-azure/*
trash/*
_back*/*
figs/*_back_AgentOccam-Trajectories_webarena_claude/
_back_AgentOccam-Trajectories_webarena_gemini-2.5-pro-exp-03-25/
_back_AgentOccam-Trajectories_webarena_gpt4o/
_old_backup/
AgentOccam-Trajectories_claude/
AgentOccam-Trajectories_gemini-2.5-pro-exp-03-25/
AgentOccam-Trajectories_gpt-4o-2024-05-13-azure/
config_files_before/
scripts/trash/*
AgentOccam/configs/trash/*
output/*